<section id="about-app" class="about-planpath">
    <h2 class="about-title">Sobre Plan Path</h2>
    <p>Tu diario de texto</p>
    <div class="transparent-container">
        <div class="planpath-content">
            <img class="pp-content-photos"
            src="https://i2.wp.com/jonaldazabal.com/wp-content/uploads/2017/09/forma-organizativa.jpg?fit=347%2C240"
            alt="">
            <div class="text-content">
                <p>Convierte tus ideas en itinerarios organizados de manera rápida y sencilla. Nuestra
                    plataforma te permite agregar actividades, lugares, horarios y detalles clave para que no tengas que
                    preocuparte por olvidar algo importante. Ya sea un viaje soñado, una escapada de fin de semana o un simple
                    plan en tu ciudad, todo estará en un solo lugar.</p>
                <p>Nuestra plataforma te permite agregar actividades, lugares, horarios y detalles clave 
                    para que no tengas que preocuparte por olvidar algo importante. Ya sea un viaje soñado, una escapada de fin
                    de semana o un simple plan en tu ciudad, todo estará en un solo lugar.</p>
            </div>
        </div>
        <div class="planpath-content invert">
            <img class="inv-pp-content-photos"
            src="https://i2.wp.com/jonaldazabal.com/wp-content/uploads/2017/09/forma-organizativa.jpg?fit=347%2C240"
            alt="">
            <div class="inv-text-content">
                <p>Haz que organizar planes sea una experiencia colaborativa, comparte tus itinerarios con amigos. También
                    puedes inspirar a otros usuarios compartiendo tus planes públicamente, como si fuera un diario o un
                    tablero de inspiración lleno de tus mejores momentos.</p>
                <p>También puedes inspirar a otros usuarios compartiendo tus planes públicamente, como si fuera un diario o
                    un tablero de inspiración lleno de tus mejores momentos.</p>
            </div>
        </div>
        <div class="planpath-content ">
            <img class="pp-content-photos"
            src="https://i2.wp.com/jonaldazabal.com/wp-content/uploads/2017/09/forma-organizativa.jpg?fit=347%2C240"
            alt="">
            <div class="text-content">
                <p>Olvídate de crear interminables listas y documentos. Con nuestra plataforma, tienes
                    todo lo necesario para planificar y acceder a tus ideas desde cualquier dispositivo. Ya sea desde tu móvil
                    mientras estás en movimiento o desde tu PC mientras lo preparas, tu diario de planes está siempre a mano,
                    listo para ayudarte a vivir al máximo.</p>
            </div>
        </div>
    </div>
</section>

<style>
    
.about-planpath{
    width: 100%;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0;

    & .about-title {
        color: var(--gen-title-color);
        font-size: var(--title-font-size);
        font-family: merienda, sans-serif;
    }

    & .transparent-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: var(--gen-letter-color);
        gap: 1rem;
    }
}

.planpath-content{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    & .pp-content-photos {
        border-radius: 5px 30px 30px 5px;
        max-width: 30%;
        min-width: 20%;
        height: 15rem;
    }

    & .text-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 15rem;
        box-sizing: border-box;
        text-align: start;
        background-color: var(--divbgcolor);
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        padding: 20px;
        box-shadow: 0 0 10px #0004;
    }
    }

.invert {
    height: 15rem;
    flex-direction: row-reverse;

    & .inv-text-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        text-align: start;
        background-color: var(--divbgcolor);
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        padding: 20px;
        box-shadow: 0 0 10px #0004;
    }

    & .inv-pp-content-photos {
        border-radius: 30px 5px 5px 30px;
        max-width: 30%;
        min-width: 20%;
    }
}
</style>