<section id="about-us" class="about-us">
    <div class="about-transparent">
        <h2 class="about-text">Sobre nosotros</h2>
        <div class="admin-info-container">
            <div>
                <p class="names">Alejandro</p>
                <img class="admin-photos" src="https://www.alba-consult.com/wp-content/uploads/2022/10/v3_0151674.jpg"
                alt="se単or amable">
            </div>
            <div>
                <p class="names">Karina</p>
                <img class="admin-photos" src="https://www.alba-consult.com/wp-content/uploads/2022/10/v3_0151674.jpg"
                alt="se単or amable">
            </div>
            <div>
                <p class="names">Sofia</p>
                <img class="admin-photos" src="https://www.alba-consult.com/wp-content/uploads/2022/10/v3_0151674.jpg"
                alt="se単or amable">
            </div>
            <div>
                <p class="names">Jonathan</p>
                <img class="admin-photos" src="https://www.alba-consult.com/wp-content/uploads/2022/10/v3_0151674.jpg"
                alt="se単or amable">
            </div>
        </div>
        <div class="text-container">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi eos deleniti aliquid tenetur quod
            fugiat
            nobis, provident illum? Animi officia quibusdam dolorum facere rerum molestiae voluptas pariatur cum
            provident recusandae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Error repudiandae
            architecto
            iure. Ab nulla atque sequi? Repudiandae, hic ea tempore iusto deleniti voluptas, amet deserunt culpa
            blanditiis rem nesciunt explicabo! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta,
            quo.
            Mollitia facilis non commodi eaque. Doloremque asperiores sint possimus ab distinctio! Inventore nobis
            facere quae ab laborum ea eveniet ipsum?</p>
        </div>
    </div>
</section>

<style>
.about-us{
    width: 100%;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.about-transparent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .about-text {
        text-align: center;
        color: var(--gen-title-color);
        font-size: var(--title-font-size);
        font-family: merienda, sans-serif;
        padding: 10px;
    }

    & .admin-info-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 2rem;
    
        & .names {
        text-align: center;
        margin-bottom: 10px;
        }
    
        & .admin-photos {
        border-radius: 50%;
        box-shadow: 0 0 10px #0004;
        width: 100%;
        }
    }

    & .text-container {
        color: black;
        width: 50%;
        text-align: center;
    }
}
</style>