<section class="cta-container">
    <div class="cta-container-transparent">
        <div class="cta-title">
            <p>¿EMPEZAMOS TU DIARIO DE PLANES?</p>
        </div>
        <div class="cta-part">
            <div class="cta-subtitle">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus quos, saepe libero facere nesciunt
                temporibus doloremque magni expedita enim dolores perferendis reiciendis illum deserunt asperiores,
                dignissimos aut dolore incidunt itaque!</p>
            </div>
            <button class="main-button">Empieza ahora</button>
        </div>
    </div>
</section>

<style>
.cta-container {
    width: 100%;
    border-radius: var(--border-radius);
    margin-bottom: 50px;
    margin-top: 50px;
}

.cta-container-transparent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    & .cta-title {
        width: 50%;
        font-weight: 500;
        color: var(--gen-title-color);
        font-size: var(--title-font-size);
    }

    & .cta-part{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        & .cta-subtitle{
        color: black;
        width: 80%;
        }
    
        & .cta-button{
        background-color: var(--gen-title-color);
        color: #fff;
        }
    }
}

.main-button{
    font-size: large;
    background-color: var(--gen-title-color);
    color: var(--white);
    padding: 0.5rem 3rem;
    font-weight: bold;
    border: 0.15rem solid;
    border-radius: 0.5rem;
}

.main-button:hover{
    color: var(--gen-title-color);
    background-color: var(--white);
    cursor: pointer;
}
</style>