---
import ShortBenefit from "./Short-benefit.astro";
import benefits from "../../data/benefits-data.json";
---

<div id="benefits" class="benefits-content">
  {
    benefits.map((benefit) => (
      <ShortBenefit
        text={benefit.text}
        srcImg={benefit.srcImg}
        altImg={benefit.altImg}
      />
    ))
  }
</div>

<style>
  .benefits-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 32px;
    width: 100%;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }

  @media (width <= 800px) {
    .benefits-content {
      width: auto;
    }
  }

</style>
