---
const { innerText } = Astro.props;
---
<button class="main-button">{innerText}</button>

<style>
.main-button{
    font-size: large;
    background-color: var(--gen-title-color);
    color: var(--white);
    padding: 0.5rem 3rem;
    font-weight: bold;
    border: 0.15rem solid;
    border-radius: 0.5rem;
}

.main-button:hover{
    color: var(--gen-title-color);
    background-color: var(--white);
    cursor: pointer;
}
</style>

