---
const { text, srcImg, altImg } = Astro.props;
---

<div class="short-benefit">
  <img loading="lazy" class="sbenefit-photos" src={srcImg} alt={altImg} />
  <p class="short-benefit-text">{text}</p>
</div>

<style>
  .short-benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 85vw;
    max-height: 100%;
    background-color: var(--divbgcolor);
    border-radius: 12px;
    padding: 8px;
    text-align: center;
    
    & .sbenefit-photos {
      max-height: 210px;
      object-fit: contain;
      border-radius: 12px;
    }

    & .short-benefit-text {
      max-width: 100%;
      margin: 0;
      padding: 12px 12px;
      font-size: 20px
    }
  }
</style>
