<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="plan, planear, itinerario, actividades, ciudad, planificar, lugares, turismo, viaje, viajar, ruta, recorrido, paseo, caminata, caminar, senderismo, sendero, rutas, recorridos, paseos, caminatas, caminos, senderos, turismo, turístico, turística, turísticos, turísticas, viajes, viajero, viajera, viajeros, viajeras, ruta, rutas, recorrido, recorridos, paseo, paseos, caminata, caminatas, caminar, caminos, senderismo, senderos, turismo, turístico, turística, turísticos, turísticas, viaje, viajes, viajero, viajera, viajeros, viajeras, plan, planear, itinerario, actividades, ciudad, planificar, lugares, turismo, viaje, viajar, ruta, recorrido, paseo, caminata, caminar, senderismo, sendero, rutas, recorridos, paseos, caminatas, caminos, senderos, turismo, turístico, turística, turísticos, turísticas, viajes, viajero, viajera, viajeros, viajeras, ruta, rutas, recorrido, recorridos, paseo, paseos, caminata, caminatas, caminar, caminos, senderismo, senderos, turismo, turístico, turística, turísticos, turísticas, viaje, viajes, viajero, viajera, viajeros, viajeras, plan, planear, itinerario, actividades, ciudad, planificar, lugares, turismo, viaje, viajar, ruta, recorrido, paseo, caminata, caminar, senderismo, sendero, rutas, recorridos, paseos, caminatas, caminos, senderos, turismo, turístico, turística, turísticos, turísticas, viajes, viajero, viajera, viajeros, viajeras, ruta, rutas, recorrido, recorridos, paseo, paseos, caminata, caminatas,">
    <meta name="author" content="Kangna74, CorvsX, JonathanBetPer">
    <meta
    name="description"
    content="PlanPath es una aplicación web que te ayuda a planificar tu próximo plan en tu ciudad. ¡Descubre lugares nuevos y crea tu propio itinerario!"
    />
    <link rel="icon" href="/img/isotipo-bg-plan-path.svg" type="image/x-icon" />
    <title>PlanPath</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<script>
  import AOS from 'aos';
  
  AOS.init();
</script>


<style is:global>
  @font-face {
    font-family: merienda;
    font-display: swap;
    src:
      url("/fonts/merienda-vf.woff2") format("woff2"),
      url("/fonts/merienda-vf.woff") format("woff"),
      url("/fonts/merienda-vf.ttf") format("truetype");
  }

  
  @font-face {
    font-family: jost;
    font-display: swap;
    src:
      url("/fonts/jost-vf.woff2") format("woff2"),
      url("/fonts/jost-vf.woff") format("woff"),
      url("/fonts/jost-vf.ttf") format("truetype");
  }

  :root {
    --divbgcolor: #bdaf95;
    --pagebgcolor: #f2f7fb;
    --gen-letter-color: #000;
    --gen-title-color: #0b64ad;
    --white: #fff;
    --border-radius: 0.75rem;
    --gen-font-family: jost, sans-serif;
    --bg-nav-bar: #f2f7fb;
    --svg-size: 25px;
    --title-font-size: 3rem;
    --text-font-size: 20px;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--gen-font-family);
    background-color: var(--pagebgcolor);
    color: var(--gen-letter-colorcolor);
    font-weight: 450;
    font-size: var(--text-font-size);
  }

  body[data-aos-duration='10000'] [data-aos],
  [data-aos][data-aos][data-aos-duration='10000'] {
    transition-duration: 2000ms;
  }
</style>
