<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <span>Plan Path</span>
        </div>

        <div class="footer-nav">
            <a href="#">Inicio</a>
            <a href="#">Sobre Nosotros</a>
            <a href="#">Contáctanos</a>
            <a href="#">Legal</a>
        </div>

        <div class="footer-social">
            <a href="#" class="linkedin" aria-label="Visítanos en LinkedIn">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path
                    d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z" />
                </svg>
            </a>
            <a href="https://x.com/PathPlan_" target="_blank" class="twitter" aria-label="Visítanos en Twitter">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path
                    d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm297.1 84L257.3 234.6 379.4 396H283.8L209 298.1 123.3 396H75.8l111-126.9L69.7 116h98l67.7 89.5L313.6 116h47.5zM323.3 367.6L153.4 142.9H125.1L296.9 367.6h26.3z" />
                </svg>
            </a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="youtube"
                aria-label="Visítanos en Youtube">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                <path
                    d="M549.7 124.1c-6.3-23.7-24.8-42.3-48.3-48.6C458.8 64 288 64 288 64S117.2 64 74.6 75.5c-23.5 6.3-42 24.9-48.3 48.6-11.4 42.9-11.4 132.3-11.4 132.3s0 89.4 11.4 132.3c6.3 23.7 24.8 41.5 48.3 47.8C117.2 448 288 448 288 448s170.8 0 213.4-11.5c23.5-6.3 42-24.2 48.3-47.8 11.4-42.9 11.4-132.3 11.4-132.3s0-89.4-11.4-132.3zm-317.5 213.5V175.2l142.7 81.2-142.7 81.2z" />
                </svg>
            </a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© 2024 Plan Path. Todos los derechos reservados.</p>
        
        <a href="#" class="arrowup" aria-label="Flecha para volver a menú">
            <svg version="1.1" id="icons_1_" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 128 128"
                style="enable-background:new 0 0 128 128" xml:space="preserve">
                <style>
                .st0 {
                    display: none
                }

                .st1 {
                    display: inline
                }

                .st2 {
                    fill: #0a0a0a
                }
                </style>
                <g id="row2_1_">
                <g id="_x34__3_">
                    <path class="st2"
                    d="M64 .3C28.7.3 0 28.8 0 64s28.7 63.7 64 63.7 64-28.5 64-63.7S99.3.3 64 .3zm0 121C32.2 121.3 6.4 95.7 6.4 64 6.4 32.3 32.2 6.7 64 6.7s57.6 25.7 57.6 57.3c0 31.7-25.8 57.3-57.6 57.3zM38.4 58.9V66c0 2.2 1.8 3.9 3.9 3.9l15.3-12.2v28.7c0 2.2 2.3 3.2 4.4 3.2h4c2.2 0 3.9-1.8 3.9-3.9V57.2l15.8 12.7c2.2 0 3.9-1.8 3.9-3.9v-7.1L64 32.2 38.4 58.9z"
                    id="up" />
                </g>
                </g>
            </svg>
        </a>
    </div>
</footer>

<style>
footer {
    background: linear-gradient(45deg, rgb(255 255 255 / 56.8%), rgb(200 200 200 / 50.7%), rgb(150 150 150 / 49.3%));
    color: var(--gen-title-color);
    padding: 20px 0;
    font-family: Roboto, sans-serif;

    & .footer-container {
        display: flex; 
        justify-content: space-between; 
        align-items: center;
        max-width: 1200px; 
        margin: 0 auto;
        padding: 20px;
        border-bottom: 1px solid #444;
    }

    .footer-logo {
        margin-bottom: 20px;
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
        font-family: "Karina media", sans-serif;
    }

    .footer-nav {
        display: flex;
        gap: 15px;
    
        & a {
        color: var(--gen-title-color);
        text-decoration: none;
        font-size: 0.9rem;
        transition: color 0.3s ease, text-shadow 0.3s ease;
        }
    
        a:hover {
        color: black;
        text-shadow: 0 0 5px rgb(0 0 0 / 30%);
        }
    }

    a svg {
        width: var(--svg-size);
        height: var(--svg-size);
    }

    .footer-bottom {
        text-align: center;
        font-size: 0.8rem;
        color: grey;
        margin-top: 20px;
        padding-top: 10px;

        & a svg{
        opacity: 60%;
        }

        a:hover svg{
        transform: scale(1.2);
        transition: transform 0.3s ease;
        opacity: 80%;
        }
    }

    .footer-social {
        display: flex;
        gap: 10px;
        margin-top: 15px;

        a:hover svg{
        transform: scale(1.2) rotate(10deg);
        transition: transform 0.3s ease, fill 0.3s ease;
        }
    
        a.linkedin:hover svg {
        fill: #0077b5;
        }
    
        a.twitter:hover svg {
        fill: black;
        }
    
        a.youtube:hover svg {
        fill: #f00;
        }
    }
}


@media (width <= 800px) {
    footer .footer-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .footer-nav {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .footer-social {
        justify-content: center;
        gap: 20px;
    }
}

@media (width <= 480px) {
    footer .footer-logo {
        font-size: 1.2rem;
    }

    .footer-nav a {
        font-size: 0.8rem;
    }

    .footer-bottom {
        font-size: 0.7rem;
    }

    .footer-social {
        gap: 15px;
    }
}
</style>