<header>
    <div class="header-content">
    <div class="logo">
        <img src="/img/isologo-plan-path.svg" alt="Logotipo PlanPath">
    </div>
    <div class="info">
        <h2>Planea tus viajes desde nuestra app</h2>
        <button class="main-button">Comienza a crear tus planes aquí ></button>
    </div>
    </div>
    </header>

    <style>
        header{
    height: max-content;
    width: 100%;
    background-color: var(--white);
    color: var(--gen-title-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header-content{
    padding: 15rem;
    margin-top: -7rem;

    img {
    height: 20rem;
    }

    /* .info{  } */
    }
}

.main-button{
    font-size: large;
    background-color: var(--gen-title-color);
    color: var(--white);
    padding: 0.5rem 3rem;
    font-weight: bold;
    border: 0.15rem solid;
    border-radius: 0.5rem;
}

.main-button:hover{
    color: var(--gen-title-color);
    background-color: var(--white);
    cursor: pointer;
}
</style>