---
import AboutPlanPath from "../Elements/About-planpath.astro";
import AboutUs from "../Elements/About-us.astro";
import Cta from "../Elements/Cta.astro";
import ShortBenefits from "../Elements/List-short-benefits.astro";
---

<main class="content-container">
  <ShortBenefits />
  <AboutPlanPath />
  <AboutUs />
  <Cta />
</main>


<style>
  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;
    margin: auto;
    max-width: 80rem;
    margin-top: 44px;
    margin-bottom: 44px;
  }
</style>